* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
/*HEADER*/
header {
  margin: 0 auto;
  width: 1300px;
  height: 100px;
  background-color: #f7f7f7;
}
/*LOGO*/
.logo {
  float: left;
  height: 80px;
  width: 33%;
  padding-left: 20px;
}
.logo__dr {
  font-size: 80px;
  text-transform: uppercase;
  color: #505051;
  text-shadow: 5px 3px 3px rgba(150, 150, 150, 1);
}
.logo__ay {
  font-size: 60px;
  text-transform: uppercase;
  color: #505051;
  text-shadow: 5px 3px 3px rgba(150, 150, 150, 1);
}
/*SPRITE ICON*/
.sprite {
  float: left;
  width: 33%;
  height: 100px;
  background-image: url(../img/sprite_header.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/*TELEPHONE*/
.info {
  float: right;
  height: 100px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 10px;
  background-image: url(../img/header__contact.png);
  background-repeat: no-repeat;
}
.info ul {
  margin-top: 3px;
  list-style: none;
  padding-left: 16px;
}
.info ul li {
  padding: 5px;
}
.info ul li a{
  text-decoration: none;
}
/*MENU*/
.headerMenu {
  margin: 0 auto;
  width: 1300px;
  height:50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu {
  height: 50px;
  position: relative;
  overflow:hidden;
  background-color: #2a2d32;

}
.menu ul {
  position: relative;
  left:50%;
  list-style: none;
  float:left;
}
.menu ul li {
  float: left;
  position:relative;
  left:-50%;
  padding: 5px;
  height: 50px;
  font-size: 30px;
}
.menu ul li a {
  text-decoration: none;
  color: #fffff9;
}
.saleCar a {
  border-bottom:1px solid #ffdb43;
}
.saleCar a {
  color: #f7f7f7;
}
.menu ul li:hover {
border-left: 2px solid #ffdb43;
border-right:2px solid #ffdb43;
}
/*SECTION*/
.section {
  margin: 0 auto;
  width: 1300px;
  height: 600px;
  background-color:#b8b8b8;
}
.allInfo {
  padding-top: 150px;
  text-align: center;
}
.rent {
  width: 33%;
  float: left;
  background-image: url(../img/house.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 280px;
  font-size: 30px;
}
.soldCar {
  width: 33%;
  float: left;
  background-image: url(../img/reunion.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 280px;
  font-size: 30px;
}
.wash {
  width: 33%;
  float: left;
  background-image: url(../img/car-wash.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 280px;
  font-size: 30px;
}
.text__section {
  padding-top: 220px;
  padding-left: 25px;
  width: 400px;
  color: #505051;
}

/*SECTION ABOUT COMPANY*/
.aboutCompany {
  clear: both;
  margin: 0 auto;
  width: 1300px;
  height: 420px;
  background-color: #f7f7f7;
}
.aboutText {
  padding-top: 120px;
  padding-left: 40px;
  font-size: 30px;
  width: 55%;
  height: 300px;
  float: left;
  color: #505051;
  background-color: #f7f7f7;
}
.aboutIcon {
  float: left;
  width: 40%;
  height: 400px;
  background-image: url(../img/refresh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f7f7f7;
}
/*SECTION descript*/
.descript {
  clear: both;
  margin: 0 auto;
  width: 1300px;
  height: 400px;
  background-color: #2a2d32;
}
.descriptIcon {
  float: left;
  width: 40%;
  height: 400px;
  background-image: url(../img/refresh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2a2d32;
  background-image: url(../img/mechanic.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.descriptText {
  padding-top: 80px;
  padding-left: 40px;
  font-size: 30px;
  width: 55%;
  height: 320px;
  float: left;
  background-color: #2a2d32;
  color: #fffff9;
}
/*SECTION prise*/
.prise {
  margin: 0 auto;
  width: 1300px;
}
.priseImg {
  float: left;
  width: 60%;
  height: 450px;
  background-color: #b8b8b8;
}
.priceIcon {
  float: left;
  width: 40%;
  height: 450px;
  background-color: #b8b8b8;
  background-image: url(../img/wash.png);
  background-repeat: no-repeat;
  background-position: center center;
}
footer {
  clear: both;
  margin: 0 auto;
  width: 1300px;
  height: 500px;
  background-color: #f7f7f7;
}
.map {
  float: left;
 width: 45%;
 height: 500px;
 float: left;
 padding-top: 50px;
 padding-left: 40px;
}
.text {
  float: left;
  width: 50%;
  height: 400px;
  font-size: 25px;
  padding-top: 100px;
  color: #505051;
}
.where {
  padding-left: 30px;
}
.telephone {
  padding-left: 30px;
}
.scrollTop {
  width: 50px;
  height: 30px;
  font-size: 20px;
}
.footer {
  float: left;
  padding-top: 25px;
  width: 100%;
  height: 50px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background-color: #2a2d32;
}
