@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}
/*HEADER*/
header {
  margin: 0 auto;
  width: 1300px;
  height: 100px;
  background-color: #f7f7f7;
}
/*LOGO*/
.holdLogo {
  float: left;
  height: 100px;
  width: 33%;
  padding-left: 20px;
  text-align: center;
}
.logo {
  margin-top: 15px;
  height: 70px;
  width: 70%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;

}

/*TELEPHONE*/
.info {
  float: right;
  height: 100px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 10px;
  background-image: url(../img/header__contact.png);
  background-repeat: no-repeat;
}
.info ul {
  margin-top: 3px;
  list-style: none;
  padding-left: 16px;
}
.info ul li {
  padding: 5px;
}
.info ul li a{
  text-decoration: none;
}
/*MENU*/
#headerMenu {
  margin: 0 auto;
  width: 1300px;
  height:50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu {
  height: 50px;
  position: relative;
  overflow:hidden;
  background-color: #2a2d32;

}
.menu ul {
  position: relative;
  left:50%;
  list-style: none;
  float:left;
}
.menu ul li {
  float: left;
  position:relative;
  left:-50%;
  padding: 5px;
  height: 50px;
}
.menu ul li input {
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 30px;
  background-color: #2a2d32;
  color: #fffff9;
}
.menu ul li input:hover {
  color: #ffdb43;
}
.saleCar a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 30px;
}

.saleCar:hover {
  text-shadow: 2px 2px 0px #2a2d32;
}
/*FOR FIX MENU*/
.default {
    width:1300px;
}
.fixed {
    position:fixed;
    left: 142px;
    top: -10px;
}
/*SECTION*/
#section {
  margin: 0 auto;
  width: 1300px;
  height: 600px;
}
.bgImage1 {
   transition: 2s;
  background-image: url(../img/bgimage1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImage2 {
   transition: 2s;
  background-image: url(../img/bgimage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bgImage3 {
   transition: 2s;
  background-image: url(../img/bgimage3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.allInfo {
  padding-top: 150px;
  text-align: center;
  height: 300px;
}
.holdBlock {
  width: 33%;
  float: left;
  height: 280px;
}
.rent {
  width: 33%;
  float: left;
  background-image: url(../img/house.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center 15px;
  height: 330px;
  font-size: 30px;
  background-color: rgba( 0, 0, 0, 0.7);
}
.sold {
  width: 33%;
  float: left;
  background-image: url(../img/reunion.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center 15px;
  height: 330px;
  font-size: 30px;
  background-color: rgba( 0, 0, 0, 0.7);
}
.wash {
  width: 33.5%;
  float: left;
  background-image: url(../img/car-wash.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center 15px;
  height: 330px;
  font-size: 30px;
  background-color: rgba( 0, 0, 0, 0.7);
}
.text__section {
  padding-top: 220px;
  padding-left: 25px;
  width: 400px;
  color: #fffff9;
}
#scrollTop {
  width:50px;
  height: 50px;
  border-radius: 50px;
  background:#f7f7f7;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  display:none;
  background-image: url(../img/up.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/*SECTION ABOUT COMPANY*/
#aboutCompany {
  clear: both;
  margin: 0 auto;
  width: 1300px;
  height: 420px;
  background-color: #f7f7f7;
}
.aboutText {
  padding-top: 120px;
  padding-left: 40px;
  font-size: 30px;
  width: 55%;
  height: 300px;
  float: left;
  color: #505051;
  background-color: #f7f7f7;
}
.aboutIcon {
  float: left;
  width: 40%;
  height: 400px;
  background-image: url(../img/refresh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f7f7f7;
}
/*SECTION descript*/
#descript {
  clear: both;
  margin: 0 auto;
  width: 1300px;
  height: 400px;
  background-color: #2a2d32;
}
.descriptIcon {
  float: left;
  width: 40%;
  height: 400px;
  background-image: url(../img/refresh.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2a2d32;
  background-image: url(../img/mechanic.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.descriptText {
  padding-top: 80px;
  padding-left: 40px;
  font-size: 30px;
  width: 55%;
  height: 320px;
  float: left;
  background-color: #2a2d32;
  color: #fffff9;
}
/*SECTION prise*/
#prises {
  margin: 0 auto;
  width: 1300px;
}
.priseImg {
  float: left;
  width: 60%;
  height: 450px;
  background-color: #b8b8b8;
}
.priceIcon {
  float: left;
  width: 40%;
  height: 450px;
  background-color: #b8b8b8;
  background-image: url(../img/wash.png);
  background-repeat: no-repeat;
  background-position: center center;
}
footer {
  clear: both;
  margin: 0 auto;
  width: 1300px;
  height: 500px;
  background-color: #f7f7f7;
}
.map {
  float: left;
 width: 45%;
 height: 500px;
 float: left;
 padding-top: 50px;
 padding-left: 40px;
}
.text {
  float: left;
  width: 50%;
  height: 400px;
  font-size: 25px;
  padding-top: 100px;
  color: #505051;
}
.where {
  padding-left: 30px;
}
.telephone {
  padding-left: 30px;
}
.scrollTop {
  width: 50px;
  height: 30px;
  font-size: 20px;
}
.footer {
  float: left;
  padding-top: 25px;
  width: 100%;
  height: 50px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background-color: #2a2d32;
}
