@media all and ( max-device-width:479px){
header {
  width: 480px;
  height: 300px;
}
/*LOGO*/
.holdLogo {
  height: 300px;
  width: 100%;
  text-align: center;
}
.logo {
  margin-top: 15px;
  height: 300px;
  width: 95%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.info {
  display: none;
}
#headerMenu {
  margin: 0 auto;
  margin-top: 10px;
  width: 135%;
  text-align: center;
  height: 1700px;

}
.menu {
  height: 1700px;
  text-align: center;
}
.menu ul {
  width: 100%;
  text-align: center;
  list-style: none;
}
.menu ul li {
  padding-top:30px;
  width: 100%;
  text-align: center;
  margin-top: 150px;
  height: 100px;
  background-color: #2a2d32;
  -webkit-appearance: none;
}
.menu ul li input {
  text-decoration: none;
  border: none;
  font-size: 170px;
  background-color: #2a2d32;
  color: #fffff9;
  border-bottom: 1px solid #ffdb43;
  -webkit-appearance: none;
}
.menu ul li input:hover {
  color: #ffdb43;
}
.saleCar a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 170px;
}
.saleCar:hover {
  text-shadow: 2px 2px 0px #2a2d32;
}
#section {
  position: relative;
  display: none;
}
#aboutCompany {
width: 135%;
height: 1900px;
}
.aboutText {
  font-size: 100px;
  width: 100%;
  height: 300px;
  text-align: center;
  color: #505051;
  background-color: #f7f7f7;
}
.aboutIcon {
display: none;
}
#descript {
  width: 135%;
  height: 2000px;
}
.descriptIcon {
display: none;
}
.descriptText {
  font-size: 100px;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #2a2d32;
  color: #fffff9;
}
#prises {
  width: 135%;
  height: 1800px;
  background-color: #b8b8b8;
}
.priseImg {
  font-size: 100px;
  width: 100%;
  height: 300px;
  text-align: center;
  color: #fffff9;
}
.priceIcon {
display: none;
}
footer {
  width: 135%;
  height: 2000px;
  background-color: #f7f7f7;
  text-align: center;
}
iframe {
  margin: 0 auto;
  width: 100%;
  height: 1000px;
}
.map {
  margin: 0 auto;
 width: 90%;
 height: 500px;
 padding-top: 50px;
}
.text {
  float: left;
  width: 100%;
  height: 400px;
  font-size: 100px;
  padding-top: 100px;
  color: #505051;
}
.where {
  padding-left: 30px;
}
.telephone {
  padding-left: 30px;
}
.scrollTop {
  width: 50px;
  height: 30px;
  font-size: 20px;
}
.footer {
  margin-top: 600px;
  width: 100%;
  height: 200px;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background-color: #2a2d32;
}
}
